/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ff907c;
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.washing-mode-info {
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.washing-mode-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
}

.washing-mode-item:not(:last-child) {
  margin-right: 40px;
}

.washing-mode-link {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.6;
}

.washing-mode-link:hover {
  opacity: 0.9;
}

.washing-mode-item-active .washing-mode-link {
  opacity: 1;
}

.washing-mode-notice {
  width: 100%;
  max-width: 420px;
  margin-top: 0;
  font-size: 14px;
}

.washing-mode-controller {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.washing-mode-controller:hover {
  opacity: 1;
}

.washing-mode-controller-prev {
  left: 0;
  transform: translateX(-100%);
}

.washing-mode-controller-next {
  right: 0;
  transform: translateX(100%);
}


.washing-mode-status {
  display: flex;
  margin: 0;
}

.washing-mode-status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 30px;
}

.washing-mode-status-item-timer{
  background-color: #3e3c3d;;
}

.washing-mode-status-item-temperature {
  background-color: #353334;
}

.washing-mode-status-item-load {
  background-color: #201e1f;
}

.washing-mode-status-heading {
  color: #ce8f8b;
}

.washing-mode-status-value {
  margin-left: 0;
  font-size: 24px;
  font-weight: 700;
}

.start-button {
  position: absolute;
  left: 10px;
  bottom: -25px;

  width: 180px;
  padding: 20px;
  border: 0;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  transition: trasnform 0.4s ease;
}

.start-button:hover {
  transform: translateY(-5px);
}
